<?php

# Enable CrossWiki extension
require_once( "$IP/extensions/CrossWiki/CrossWiki.php" );
$wgCrossWikiSettings = array(
	"url" => "<parent_wiki_root_url>",
	"username" => "<username>",
	"password" => "<password>",
	"domain" => "<ad_domain>"
);
